* {
    font-family: 'Arial';
}

h1 {
    color: #1d3557;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f1faee;
}

section {
    height: 30px;
    border-radius: 10px;
    width: 300px;
}

button {
    height: 100%;
    color: inherit;
    width: 29%;
    border: 1px solid #1d3557;
    border-radius: inherit;
}

input[type=text] {
    height: 100%;
    width: 60%;
    color: inherit;
    font-size: 15px;
    border: 1px solid #1d3557;
    border-radius: inherit;
}

input[type=text] {
    outline: none;
}

#tasks {
    width: 100%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

#tasks label {
    margin-top: 4px;
}

input[type=checkbox] {
    margin-right: 8px;
}