body {
    font-family: 'Segoe UI';
    margin: 0;
    background-color: whitesmoke;
}

header {
    height: 50px;
    background-color: #888;
    margin: 0;
    color: whitesmoke;
    
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   margin-left: 8px;
}

li {
    
    display: block; 
    float: left;
    text-align: center;
    text-decoration: none;
    margin-right: 8px;
    padding: 14px 16px;
}

li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #bbb
}


main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

p {
    font-size: 20px;
    margin-bottom: 12px;
}

#botao {
    height: 40px;
    width: 130px;
    font-size: 15px;
    border: 1px solid black;
    background-color: #222;
    color: white;
    border-radius: 20px;
}

#botao:hover {
    background-color: #444;
    cursor: pointer;
}