body {
    font-family: 'Segoe UI';
    margin: 0;
    background-color: whitesmoke;
}

header {
    font-size: 16px;
    height: 64px;
    width: 100%;
    background-color: #222;
    color: whitesmoke;
    display: inline-flex;
    align-items: center;
}

header.dark-mode {
    background-color:whitesmoke;
    color: black;
}

img {
    margin-left: 36px;
    height: 60%;
    padding-top: 8px;
    
}

ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 36px;
    margin: 0;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

li:hover {
    cursor: pointer;
    animation: increase-size 0.1s forwards;
}


main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

main.dark-mode {
    background-color: #111;
    color: whitesmoke;
}

p {
    font-size: 20px;
    margin-bottom: 12px;
}

#botao {
    height: 40px;
    width: 130px;
    font-size: 15px;
    border: 1px solid black;
    background-color: #222;
    color: white;
    border-radius: 20px;
}

#botao:hover {
    background-color: #444;
    cursor: pointer;
}

#botao.dark-mode {
    background-color: rgb(225, 225, 225);
    color: black;
}

#botao.dark-mode:hover {
    cursor: pointer;
    background-color: white;
}

@keyframes increase-size {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 17px;
    }

    100% {
        font-size: 18px;
    }
}

@keyframes decrease-size {
    0% {
        font-size: 18px;
    }

    50% {
        font-size: 17px;
    }

    100% {
        font-size: 16px;
    }
}